# 原始資料目錄 - 忽略特定格式的資料檔案
原始資料/**/*.csv
原始資料/**/*.kml
原始資料/**/*.kmz
原始資料/**/*.ods
原始資料/**/*.xml
原始資料/**/*.json
原始資料/**/*.xlsx
原始資料/**/*.xls
原始資料/**/*.gdb
原始資料/**/*.gpx
原始資料/logs/*

# 忽略所有的 .DS_Store 檔案
# macOS 系統自動生成的目錄屬性檔案
# 這些檔案通常不需要被版本控制
.DS_Store

# 忽略所有的 .vscode 目錄
# Visual Studio Code 的工作區設定檔案
# 這些檔案通常是個人化的設定，不需要被版本控制
.vscode/

# 忽略 __pycache__ 目錄
# Python 編譯後的快取檔案
# 這些檔案通常不需要被版本控制
__pycache__/